    body{
        background-color: antiquewhite;
    }
    h1{
        color: whitesmoke;
        background-color: darkseagreen;
    }

    h2{
        color: #FaF8F1;
        background-color: #C58940;
    }